/*----------BODY----------*/
body{
    background-color: black;
}

container-full{
    
}
/*----------HEADER----------*/
header{
    
}

header nav:nth-of-type(2){
   background-color:#141414; 
    text-align: center;
}

header nav ul{
   
    
}

header nav ul li{
    color: white;
}

header nav ul li a{
 
    
}

header nav ul li a:hover{
    color: blue;
    
}

header i {
   
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}
/*--------------SECTION--------------*/

article{
    text-align: center;
    color: white;

}
article h1{
    font-family: 'Roboto', sans-serif;
    font-size: 50px
}

article h2{
  font-family: 'Roboto Condensed',sans-serif;
    font-weight: 300;
    font-size: 60px;
}
article a{
    font-size: 20px;
}

article p{
    font-size: 17px;
}
article img{
    margin: auto;
    vertical-align: center;
}

/*------------ASIDE-------------*/
.rm{
    margin: 0 !important;
}
.rp{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
aside{
    background-color: white;    
    padding-top: 30px;
}
aside img{
    margin:auto;
}

aside div:nth-of-type(2){
    width: 450px;
    text-align: center;
    display: block;
    vertical-align: center;
    margin: auto;
}
aside h3{
    font-size: 35px;
}
aside p {
    font-size: 20px;
}
aside a {
    font-size: 25px; 
}
/*---------FOOTER-----------*/

footer h2 {
    text-align: center;
    color: white;
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 50px;
    font-weight: 300;
}

footer form{
    width: 50%;
    margin: auto;
   
}
footer div{
    width: 100%;
}
footer div input{

}
footer button{
  margin-top: 10px;
}

.pdgL{
   padding-left: 7.5px;
}
.pdgR{
    padding-right: 7.5px;
}

/*---------------MEDIAQUERIES--------------------*/


/*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
        nav:nth-of-type(2)  ul li {
            width: calc(100% / 3);
        }

    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
        nav:nth-of-type(2)  ul li {
            width: calc(100% / 3)
        }

    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {
    

    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
        
    }
